In [1]:
import pickle as pk
import pandas as pd

In [4]:
mod=pk.load(open("iphone prediction","rb"))

In [16]:
data={"Age":[],"Salary":[100000]}

In [17]:
data1=pd.DataFrame(data)

In [18]:
data1

   Age  Salary
0   25  100000

In [19]:
d=mod.predict(data1)

In [20]:
print(d)

[1]